# Configuración del servidor
PORT=3000

# Configuración de MongoDB
MONGO_URI=mongodb://mongo:27017/stockydb

# Configuración de desarrollo
NODE_ENV=development

# Variables para Render.com
# PORT: Render.com asigna automáticamente
# MONGO_URI: Tu URI de MongoDB Atlas
# NODE_ENV: production 